<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite TestNG x Selenium">

    <test name="eCommerce Test Admin Dashboard">
        <classes>
            <class name="com.ujianMingguKe3.authentication.SignInTestAdmin"></class>
            <class name="com.ujianMingguKe3.HookTest"></class>
        </classes>
    </test>
</suite>